<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>soApp</title> <!-- = Stage Opdracht Applicatie -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
<table>
    <tr>
        <td><a href="{{ url_for('index') }}">Home</a>&nbsp;-&nbsp;</td>
        <td><a href="{{ url_for('search_repository') }}">Search Repository</a>&nbsp;-&nbsp;</td>
        <td><a href="{{ url_for('search_module') }}">Search Module</a>&nbsp;-&nbsp;</td>
        <td><a href="{{ url_for('table') }}">Full Table</a>&nbsp;-&nbsp;</td>
        <td><a href="{{ url_for('version_repositories') }}">Table per Version</a>&nbsp;-&nbsp;</td>
        <td><a href="https://github.com/OCA" target="_blank">OCA</a>&nbsp;-&nbsp;</td>
        <td><a href="https://oca-modules-table.readthedocs.io/en/latest/" target="_blank">Docs</a></td>
    </tr>
</table>
<hr>
{% block content %} {% endblock %}
<br/><br/>
<hr>
<hr>
Placeholder footer text.
<a href="https://github.com/mathiasmeeusengt/oca_modules_table" target="_blank">Link to App on Github</a>
</body>
</html>
