{% extends "base.html" %}
{% block content %}

<h3>Hello, Visitor</h3>

<div><b>Home:</b></div>
<div>This page, a small explanation of the pages in the menu.</div>
<div> For a more extensive explanation, please read the documentation.</div>
<br/>
<div><b>Search Repository:</b></div>
<div>Search for repositories.</div>
<br/>
<div><b>Search Module:</b></div>
<div>Search for modules.</div>
<br/>
<div><b>Full Table:</b></div>
<div>Table with all repositories, useful to get an overview of things.</div>
<div>Undetailed Module table.</div>
<br/>
<div><b>Table per Version:</b></div>
<div>After selecting a version, shows repositories containing modules for that version.</div>
<div>Detailed Module table.</div>
<br/>
<div><b>OCA:</b></div>
<div>Links to OCA on GitHub.</div>

{% endblock %}
