{% extends "base.html" %}
{% block content %}
<div><p>Selected version: <b>{{ version_x[8:] }}.0</b> <br> Current Repository: <b>{{ modules[0].repo_name }}</b></p></div>
<table border="1px">
    <tr>
        <th>Addon</th>
        <th>Readme</th>
        <th>Instal.</th>
        <th>OCA</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Write Review</th>
    </tr>
    {% for module in modules %}
    <tr>
        <td>{{ module.addon }}</td>
        {% if module[readme] == None %}
        <td>-</td>
        {% else %}
        <td><a target="_blank" href="https://github.com/OCA/{{ module.repo_name }}/blob/{{ version_x[8:] }}.0/{{ module.addon }}/README.rst">{{ module[readme] }}</a></td>
        {% endif %}
        {% if module[installable] == "False" %}
        <td><div class="redFont">{{ module[installable] }}</div></td>
        {% elif module[installable] == "True" %}
        <td><div class="greenFont">{{ module[installable] }}</div></td>
        {% else %}
        <td>Err</td>
        {% endif %}
        <td><a target="_blank" href="https://github.com/OCA/{{ module.repo_name }}/tree/{{ version_x[8:] }}.0/{{ module.addon }}">Link</a></td>
        {% if module[rating] == None %}
        <td>-</td>
        {% else %}
        <td>{{ module[rating] }}</td>
        {% endif %}
        {% if module[rating] == None %}
        <td>-</td>
        {% else %}
        <td>{{ module[review] }}</td>
        {% endif %}
        <td><a href="/rating_review/{{ module.addon }}/{{ version_x }}">Write Review</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
/version_details/{{ repo.repository }}/{{ version_x }}